.contactContainer {
  width: 100%;
  height: 110vh;
}
.contact {
  height: 90%;
  width: 100%;
  display: flex;
}
.contactLeft {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
}
.contactInfo {
  height: 70%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}
.contactMiddle {
  width: 50%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.contactForm {
  text-align: center;
  width: 70%;
}
.contactForm h1 {
    font-size: 2rem;

}

.contactForm label {
  float: left;
  font-family: 'Roboto';
  width: 20%;
  margin: 10px;
  background-color: #043262;
  color: white;
  border-radius: 10px;
}
.contactForm input {
  border: none;
  width: 100%;
  font-family: "Roboto";
  padding: 20px;
  background-color: rgb(255, 255, 255);
  font-size: 1rem;
  border: 1px solid rgb(177, 177, 177);
}
.contactForm input:focus {
  background-color: none;
  outline: none;
  border: 1px solid #1fb6ff;
}
.contactForm textarea {
  border: none;
  width: 100%;
  font-family: "Roboto";
  padding: 20px;
  background-color: rgb(255, 255, 255);
  font-size: 1rem;
  border: 1px solid rgb(177, 177, 177);
}
.contactForm textarea:focus {
  background-color: none;
  outline: none;
  border: 1px solid #1fb6ff;
}
.contactRight {
  width: 50%;
  height: 100%;
  background-image: url('../images/contact.jpg');
  background-size: cover;
  display: flex;
  text-align: center;
  align-items: center;
}
.contactRight iframe {
  width: 100%;
  height: 100%;
}
.contactMiddle button {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  background-color: #043262;
  color: white;
  border: none;
}
.contactMiddle button:hover {
  cursor: pointer;
  background-color: #064486;
}
