@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap);
@font-face {
  font-family: european;
  src: url(./fonts/Royal.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "european";
}
html,
body {
  margin: 0;
}